<style>
    td {
        padding: 10px;
    }

    .flex {
        display: flex;
    }
</style>

<div class="flex">
    <a href="{% url 'app_home' %}">Accueil</a>
    <span style="width:20px"></span>
    <a href="{% url 'users_create' %}">Ajouter un utilisateur</a>
    <span style="width:20px"></span>
    <a href="{% url 'users_shuffle' %}">Répartir aléatoirement les joueurs dans des équipes</a>
    <span style="width:20px"></span>
    <a href="{% url 'users_reset' %}">Vider les joueurs de leur équipe</a>
</div>

<h1>Liste des utilisateurs</h1>

<table border='1'>
    <tr>
        <th>Id</th>
        <th>Nom d'utilisateur</th>
        <th>Equipe</th>
        <th>Date de création</th>
        <th>Dernière modification</th>
        <th>Modifier</th>
        <th>Supprimer</th>
    </tr>
    {% for user in users %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.username }}</td>
            {% if user.team__name %}
                <td>{{ user.team__name }}</td>
            {% else %}
                <td>Aucune</td>
            {% endif %}
            <td>{{ user.created|date:"d/m/Y H:i" }}</td>
            <td>{{ user.updated|date:"d/m/Y H:i" }}</td>
            <td><a href="{% url 'users_update' user.id %}">Modifier</a></td>
            <td><a href="{% url 'users_delete' user.id %}">Supprimer</a></td>
        </tr>
    {% endfor %}
</table>